<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.arsiac.psychology.user.centre.dao.PowerResourceMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="top.arsiac.psychology.user.centre.pojo.entity.PowerResourceEntity" id="userRoleMap">
        <result property="id" column="id"/>
        <result property="powerId" column="power_id"/>
        <result property="resourceId" column="resource_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
    </resultMap>

    <!-- 查找全部 -->
    <select id="selectAll" resultMap="userRoleMap">
        SELECT * FROM psychology_user_centre.power_resource ORDER BY update_time
    </select>

    <!-- 根据权力id查询 -->
    <select id="selectByPowerId" resultMap="userRoleMap" parameterType="java.lang.Long">
        SELECT * FROM psychology_user_centre.power_resource
        WHERE power_id = #{powerId}
        ORDER BY update_time
    </select>

    <!-- 根据资源id查询 -->
    <select id="selectByResourceId" resultMap="userRoleMap" parameterType="java.lang.Long">
        SELECT * FROM psychology_user_centre.power_resource
        WHERE resource_id = #{resourceId}
        ORDER BY update_time
    </select>

    <!-- 增加用户对应角色 -->
    <insert id="insert" parameterType="top.arsiac.psychology.user.centre.pojo.entity.PowerResourceEntity">
        INSERT INTO psychology_user_centre.power_resource
        (id, power_id, resource_id, create_by, create_time, update_by, update_time, version)
        VALUES
        (#{powerResource.id}, #{powerResource.powerId}, #{powerResource.resourceId},
         #{powerResource.createBy}, CURRENT_TIMESTAMP(),
         #{powerResource.updateBy}, CURRENT_TIMESTAMP(), 1)
    </insert>

    <!-- 更新用户对应角色 -->
    <update id="update" parameterType="top.arsiac.psychology.user.centre.pojo.entity.PowerResourceEntity">
        UPDATE psychology_user_centre.power_resource
        SET power_id = #{powerResource.powerId}, resource_id = #{powerResource.resourceId},
            update_by = #{powerResource.updateBy}, update_time = CURRENT_TIMESTAMP(),
            version = #{powerResource.version} + 1
        WHERE id = #{powerResource.id} AND version = #{powerResource.version}
    </update>

    <!-- 删除用户对应角色 -->
    <delete id="delete" parameterType="top.arsiac.psychology.user.centre.pojo.entity.PowerResourceEntity">
        DELETE FROM psychology_user_centre.power_resource WHERE id = #{powerResource.id} AND version = #{powerResource.version}
    </delete>
</mapper>