<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.arsiac.psychology.user.centre.dao.mapper.RolePowerMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="top.arsiac.psychology.user.centre.dao.entity.RolePowerEntity" id="rolePowerMap">
        <result property="roleId" column="role_id"/>
        <result property="powerId" column="power_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
    </resultMap>

    <!-- 查询全部 -->
    <select id="selectAll" resultMap="rolePowerMap">
        SELECT * FROM psychology_user_centre.role_power
    </select>

    <!-- 根据权力id查询 -->
    <select id="selectByPowerId" resultMap="rolePowerMap">
        SELECT * FROM psychology_user_centre.role_power
            WHERE power_id = #{powerId}
    </select>

    <!-- 根据角色id查询 -->
    <select id="selectByRoleId" resultMap="rolePowerMap">
        SELECT * FROM psychology_user_centre.role_power
            WHERE role_id = #{roleId}
    </select>

    <!-- 插入 版本为1 时间为当前时间 -->
    <insert id="insert" parameterType="top.arsiac.psychology.user.centre.dao.entity.RolePowerEntity">
        INSERT INTO psychology_user_centre.role_power
            (id, role_id, power_id, create_by, create_time, update_by, update_time, version)
            VALUES
            (#{rolePower.id}, #{rolePower.roleId}, #{rolePower.powerId},
             #{rolePower.createBy}, CURRENT_TIMESTAMP(),
             #{rolePower.updateBy}, CURRENT_TIMESTAMP(), 1)
    </insert>

    <!-- 更新 根据版本和id来更新数据-->
    <update id="update" parameterType="top.arsiac.psychology.user.centre.dao.entity.RolePowerEntity">
        UPDATE psychology_user_centre.role_power
        SET role_id = #{rolePower.roleId}, power_id = #{rolePower.powerId},
            update_by = #{rolePower.updateBy}, update_time = CURRENT_TIMESTAMP(),
            version = #{rolePower.version} + 1
        WHERE id = #{rolePower.id} AND version = #{rolePower.version}
    </update>

    <!-- 删除 根据id和版本删除 -->
    <delete id="delete" parameterType="top.arsiac.psychology.user.centre.dao.entity.RolePowerEntity">
        DELETE FROM psychology_user_centre.role_power WHERE id = #{rolePower.id} AND version = #{rolePower.version}
    </delete>
</mapper>