<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.arsiac.psychology.base.dao.ProjectSourceMapper">

    <resultMap type="com.github.arsiac.psychology.base.pojo.entity.ProjectSourceEntity" id="projectSourceMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
    </resultMap>

    <!-- 查询全部 -->
    <select id="selectAll" resultMap="projectSourceMap">
        SELECT * FROM psychology_base.project_source ORDER BY update_time desc
    </select>

    <!-- 模糊查询 -->
    <select id="selectFuzzy" resultMap="projectSourceMap" parameterType="com.github.arsiac.psychology.base.pojo.entity.ProjectSourceEntity">
        SELECT * FROM psychology_base.project_source
        <where>
            <if test="projectSource.name != null">
                <bind name="projectSourceName" value="'%' + projectSource.name + '%'"/>
                name LIKE #{projectSourceName}
            </if>
        </where>
        ORDER BY update_time desc
    </select>

    <!-- 根据id查询 -->
    <select id="selectById" resultMap="projectSourceMap" parameterType="java.lang.Long">
        SELECT * FROM psychology_base.project_source WHERE id = #{id}
    </select>

    <!-- 插入 版本为1 时间为当前时间 -->
    <insert id="insert" parameterType="com.github.arsiac.psychology.base.pojo.entity.ProjectSourceEntity">
        INSERT INTO psychology_base.project_source (id, name, create_by, create_time, update_by, update_time, version)
        VALUES (#{projectSource.id}, #{projectSource.name},
                #{projectSource.createBy}, CURRENT_TIMESTAMP(),
                #{projectSource.updateBy}, CURRENT_TIMESTAMP(), 1)
    </insert>

    <!-- 更新 根据版本和id来更新数据-->
    <update id="update" parameterType="com.github.arsiac.psychology.base.pojo.entity.ProjectSourceEntity">
        UPDATE psychology_base.project_source
        SET name = #{projectSource.name},
            update_by = #{projectSource.updateBy}, update_time = CURRENT_TIMESTAMP(),
            version = #{projectSource.version} + 1
        WHERE id = #{projectSource.id} AND version = #{projectSource.version}
    </update>

    <!-- 删除 根据id和版本删除 -->
    <delete id="delete" parameterType="com.github.arsiac.psychology.base.pojo.entity.ProjectSourceEntity">
        DELETE FROM .psychology_base.project_source WHERE id = #{id} AND version = #{version}
    </delete>
</mapper>