<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.arsiac.psychology.centre.dao.RoleResourceMapper">

    <resultMap type="com.github.arsiac.psychology.centre.pojo.entity.RoleResourceEntity" id="roleResourceMap">
        <result property="id" column="id"/>
        <result property="roleId" column="role_id"/>
        <result property="resourceId" column="resource_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
    </resultMap>

    <!-- 查找全部 -->
    <select id="selectAll" resultMap="roleResourceMap">
        SELECT * FROM psychology_user_centre.role_resource ORDER BY update_time desc
    </select>

    <!-- 根据角色id查询 -->
    <select id="selectByRoleId" resultMap="roleResourceMap" parameterType="java.lang.Long">
        SELECT * FROM psychology_user_centre.role_resource
        WHERE role_id = #{roleId}
        ORDER BY update_time desc
    </select>

    <!-- 根据用户id查询 -->
    <select id="selectByResourceId" resultMap="roleResourceMap" parameterType="java.lang.Long">
        SELECT * FROM psychology_user_centre.role_resource
        WHERE resource_id = #{resourceId}
        ORDER BY update_time desc
    </select>

    <!-- 增加用户对应角色 -->
    <insert id="insert" parameterType="com.github.arsiac.psychology.centre.pojo.entity.UserRoleEntity">
        INSERT INTO psychology_user_centre.role_resource
        (id, role_id, resource_id, create_by, create_time, update_by, update_time, version)
        VALUES
        (#{roleResource.id}, #{roleResource.roleId}, #{roleResource.resourceId},
         #{roleResource.createBy}, CURRENT_TIMESTAMP(),
         #{roleResource.updateBy}, CURRENT_TIMESTAMP(), 1)
    </insert>

    <!-- 更新用户对应角色 -->
    <update id="update" parameterType="com.github.arsiac.psychology.centre.pojo.entity.UserRoleEntity">
        UPDATE psychology_user_centre.role_resource
        SET user_id = #{userRole.userId}, role_id = #{userRole.roleId},
            update_by = #{userRole.updateBy}, update_time = CURRENT_TIMESTAMP(), version = #{userRole.version} + 1
        WHERE id = #{userRole.id} AND version = #{userRole.version}
    </update>

    <!-- 删除用户对应角色 -->
    <delete id="delete" parameterType="com.github.arsiac.psychology.centre.pojo.entity.UserRoleEntity">
        DELETE FROM psychology_user_centre.role_resource WHERE id = #{id} AND version = #{version}
    </delete>
</mapper>